#content {
  width: 700px;
}
div#result-info {
    font-size: 38px;
    width: 700px;
    background-color: #000;
    text-align:center;
    float:left;
    margin: 0 auto;
    height: 50px;
}

.win {
   color: rgb(0,220,0);
}
.lose {
   color: rgb(220,0,0);
}

#slots {
   float:left;
   width: 700px;
   margin-top: 40px;
}

#slots #play {
   float:          right;
   display:        inline-block; 
   border:         1px solid #000;
   width:          80px;
   height:         80px;
   font-size:      24px;
   margin-top:     35px;
   margin-left:    40px;;
   vertical-align: center;
   position:       fixed;
   background:     rgb(220, 0, 0);
}

#slots #play:hover {
   background: rgb(150, 150, 0);
}

#play .play {
    font-size: 24px;
    width:     100%;
}  

#slots .slot {
  float:  left;
  width:  150px;
  height: 150px;
  border: 1px solid #000;
  margin: 0 15px 15px 25px;
  overflow: hidden;
  background: yellow;
} 

.slot .items {
  margin-top: 0px;
  width: 100%;
  
}

.slot .item {
  
  font-size: 32px;
  text-align: center;
  width:      150px;
  height:     150px;
  
  vertical-align: middle;
}