#board {
   border: 1px solid #000;
   padding-top: 10px;
   padding-left: 10px;
   width: 420px;
   height: 490px;
   display:inline-block;
   margin: 0 auto;
}

.clicked, .cell {
   border: 1px solid #000;
   margin-right: 10px;
   margin-bottom: 10px;
   width: 40px;
   height: 40px;
   float:left;
   text-align: center;
   
}

.bomb-image {
   width: 40px;
   height: 40px;
   background: url('../img/bomb.jpg') no-repeat; /* IE8 HACK */
   background-size: contain;
   border: 1px solid rgb(245, 0, 0) ;
}


.hidden {
   background: rgb(102, 102, 102);
   color: rgb(102, 102, 102);   
}

.cheat {
   background: rgb(204, 0, 0);
}

.reveal {
   background: rgb(153, 153, 153);
   color: #000;
   font-weight: bold;
}

.win {
   width: 40px;
   height: 40px;
   background: url('../img/bomb.jpg') no-repeat; /* IE8 HACK */
   background-size: contain;
   border: 1px solid rgb(0, 245, 0) ;
}



.cell:hover {
   background: rgb(255, 255, 204);
   color: rgb(255, 255, 204);
}

#restart {
   margin-top:  3%;
   margin-left: 38%;
   font-size: 1.0em;
   
}

